name: Upload Python Package

on:
  release:
    types: ["published"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Setup uv
        uses: astral-sh/setup-uv@v2
        with:
          enable-cache: true
          version: "0.8.13"

      - name: Install dependencies
        run: |
          uv sync

      - name: Make sure we didn't forget anything in pre-commit
        run: |
          uv run pre-commit run --all

      - name: Test with pytest
        run: |
          uv run pytest

      - name: Build and publish
        env:
          UV_PUBLISH_USERNAME: ${{ secrets.PYPI_USERNAME }}
          UV_PUBLISH_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          uv build
          uv publish dist/*
